<!-- update our db -->

<h3>All the fruits: </h3> 
 <% for (var i=0; i< fruitsData.length; i++ ) { %>
  <form method="POST" action="/deletefruits/<%= fruitsData[i]._id %>" style="display: inline-block">  
    <%= fruitsData[i].fruits_name %> (<%= fruitsData[i].size %>) 
    <input type="submit" value="delete"> 
  </form>
  <br/>
<% } %> 


<h3>All the fruits: </h3> 
 <% for (var i=0; i< fruitsData.length; i++ ) { %>
  <form method="POST" action="/updatefruits/<%= fruitsData[i]._id %>" style="display: inline-block">  
    <%= fruitsData[i].fruits_name %> (<%= fruitsData[i].size %>) 
    <input type="submit" value="update"> 
  </form>
  <br/>
<% } %>

<h3> Give me a new fruit! </h3>

<form method="get" action="/add">
    <p>Type it here.</p>
    <input type="text" name="ejsFormName" value="something"> 
    <input type="submit">
  </form>